<html>
<head>
    <title>TIY Java Gradle Template</title>
</head>
<body>
<h2>Here is a list of Java Back-end assignments:</h2>

<table border="0" cellspacing="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Required</th>
    </tr>
    {{#assignments}}
        <tr>
            <td>{{name}}</td><td>{{description}}</td><td>{{required}}</td>
        </tr>
    {{/assignments}}
</table>

</body>
</html>